<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>

<body>
    <div id="app">
        <section class="row">
            <!-- Aqui va la seccion con las barras de vida-->
            <div class="small-6 columns">
                <h1 class="text-center">Berserker</h1>
                <div class="healthbar">
                    <div class="healthbar barra text-center" style="background-color: green; margin: 0; color: white" :style="{width: playerHealth + '%'}">
                        {{ playerHealth }}
                    </div>
                </div>
                <div class="specialbar">
                    <div class="specialbar barra text-center" style="background-color: rgb(39, 142, 211); margin: 0; color: white" :style="{width: barraEspecial + '%'}">
                        {{ barraEspecial }}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">Oponente</h1>
                <div class="healthbar">
                    <div class="healthbar barra text-center" style="background-color: green; margin: 0; color: white" :style="{width: monsterHealth + '%'}">
                        {{ monsterHealth }}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls">
            <!-- Aqui van los controles -->
            <div class="small-12 columns" v-if="!gameStarted">
                <button id="start-game" @click="startGame">NUEVO JUEGO</button>
            </div>

            <div class="small-12 columns" v-else>
                <button id="attack" @click="attack">ATACAR</button>
                <button id="special-attack" @click="specialAttack">ATAQUE ESPECIAL</button>
                <button id="heal" @click="heal">CURA</button>
                <button id="give-up" @click="giveUp">CORRER</button>
            </div>
        </section>
        <section class="row log" v-if="turns.length > 0">
            <div class="small-12 columns">
                <ul>
                    <li v-for="turn in turns" :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                        {{ turn.text }}
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="js/app.js"></script>
</body>

</html>